[default]
src = 'src'
out = 'out'
libs = ['lib']

# remappings = ['@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts']

# See more config options https://github.com/gakonst/foundry/tree/master/config